::root {
	--rem: 1rem;

	--margin: var(--rem);
	--margin-l: calc(var(--rem) * 1.5);
	--margin-xl: calc(var(--rem) * 2);

	--padding: var(--rem);
	--padding-l: calc(var(--rem) * 1.5);
	--padding-xl: calc(var(--rem) * 2);

	--c-primary: #C89E55;

	--lh-title: 1.25;
	--lh-para: 1.5;
}